/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




.navbar{
  position: relative;
  width : 100%;
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom:15px;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.list{
  padding: 30px;
  /* padding-right: 30px; */
  /* background-color: ?; */
  position: absolute;
  margin-left:360px;
  width:400px;
  list-style: none;
  text-align: center;
  max-height: 500px;
  overflow-y: scroll;
}

.title{
  padding-top: 20px;
  height: 40px;
  
  /* width:500px; */
  background-color: #354463;
  color:whitesmoke;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}
/* .movie-block{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  background-color: green;
} */


input{
  position:absolute;
  width: 70%;
  border: none;
    background: black;
    border-bottom: 0.01vw solid #C1F7D5;
    /* padding-top: 0.5vw; */
    /* padding-bottom: 0.5vw; */
    text-align: left;
    font: lighter 100% Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    opacity: 0.6;
    left:260px;
    /* font-size:2px; */
}

.movie-dir{
  /* padding:20px; */
  margin-top: 15%;
  text-align: center;
}

.btn{
  margin: 20px;
  width: 150px;
  height:50px;
  border-style: none;
  background: none;
  background-color:#354463;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: whitesmoke;
  cursor: pointer;
}

.small-btn {
  width: 100px;
  height:30px;
  font-weight: 200;
  font-size: 15px;
}

.back-btn{
position: absolute;
margin-left: 1100px;
}

.add-btn{
position: absolute;
width: 100px;
height:30px;
font-weight: 200;
font-size: 14px;
}

a{
  text-decoration: none;
}

/* 
.section{
  display:grid;
  grid-template-columns: 
} */

ul{
  list-style: none;
}

.movie-info{
  padding:20px;
  background-color: black;
  color:whitesmoke;
  margin-left: 20px;
  margin-right: 80px;
  /* width: 900px; */
  /* margin-bottom: 50px; */
  display: grid;
  grid-gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
}


.movie-info-block{
  margin-left: 80px;
  /* margin-right: 100px; */
}

.movie-info-back-btn{
  margin-left:660px ;
}

.info-block{
  position: relative;
}

form{
  margin-left: 70px;
}

.dir-info{
  padding:30px;
  background-color: grey;
  /* color:wh; */
  margin-left: 20px;
  margin-right: 80px;
  width: 320px;
  /* height: 10px; */
  /* margin-bottom: 50px; */
  display: grid;
  grid-gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.dir-info:focus{
  outline: none;
}

.dir-Edit{
width: 300px;
}

.input-dir{
  width: 170px;
  border-bottom: none;
  left: 200px;
}